* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.menu_navegacao{
    display: flex;
    background-color: black;

}

.menu_navegacao li{
    color: white;
}